annotated-types
appdirs
asgiref
atomicwrites
autobahn
Automat
backports.weakref
bcrypt
black
clyent
django-allauth
django-channels
django-htmx
djangorestframework
Django
et-xmlfile
fonttools
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
googleapis-common-protos
h11
httpcore
httplib2
httpx
inflection
jsonpointer
markdown2
munkres
oauthlib
ollama
openpyxl
patsy
pip-chill
proto-plus
protobuf
PyDispatcher
PyQt5
PyQtWebEngine
pyls-spyder
pyodbc
PySocks
python-dateutil
python-decouple
python-lsp-jsonrpc
python-slugify
python-snappy
pytz
PyYAML
regex
requests-oauthlib
rsa
smart-open
sqlparse
txaio
typing-inspection
typing_extensions
daphne
jwt
Pillow
channels
whitenoise
gunicorn
