{% extends 'base.html' %}
{% load static %}
{% block scripts %}

 <script   src="{% static 'js/bucketOfINSCRIPTIons.js' %}" type="text/javascript" ></script>    

 
  <script  type="text/javascript" >
  
 var currentDiv = 0; 
  	 
 function getContent(choice, reverse)
{   


	if( choice == 1 ) 
	{  

	              $('#options_title2').text("");
	              $('#options_title2').hide();
	              $('#options_icon').hide();	                
		       $('#paiment_manuel_div').hide();
	                $('#container' +  currentDiv).empty();
	                 $('#container' +  currentDiv).show();
		      
		       /* create category list */
		       $('<ul />', {id: 'categoriesGrid' + currentDiv}).appendTo('#container' + currentDiv);
		      
			 $('<li />', {
			   class: 'ui-state-default',
			   id: 'pay_paypal',
			   text:" Paiement by PayPal"
			 }).appendTo('#categoriesGrid' + currentDiv);
			 
			  $('<li />', {
			   class: 'ui-state-default',
			   id: 'pay_mobile',
			   text:"Paiement by Mobile Money"
			 }).appendTo('#categoriesGrid' + currentDiv);
			 
			  $('<li />', {
			   class: 'ui-state-default',
			   id: 'Pay_bankcart',
			   text:"Pay by Bank Cart"
			 }).appendTo('#categoriesGrid' + currentDiv);
			 
			  $('<li />', {
			   class: 'ui-state-default',
			   id: 'pay_whatsapp',
			   text:"Paiement by Whatsapp [ (+237)671406993 ]"
			 }).appendTo('#categoriesGrid' + currentDiv);




			 /* add click event */
			 $('#pay_paypal').click(function() {
			     //window.location = '/lessonapp/read_lessons/';
			 });
		        $('#pay_mobile').click(function() {
			      //slideTo(2, false);
			 });
			 
			  $('#Pay_bankcart').click(function() {
			      //slideTo(3, false);
			 });
			 
			 $('#pay_whatsapp').click(function() {
			      
			       slideTo(4, false);

			 });
			 
			

		     /* show list */
		     $('#categoriesGrid' + currentDiv).show();
 		
 		        /* hide loader */
			 $('#loader').fadeOut('fast');
		
		   
			      	
	      
	      
	}
	else if( choice == 2 ) 
	{
	}
	else if( choice == 3 ) 
	{
	     
	}
	else if( choice == 4 ) 
	{          
		var montant = $('#totalPrice').text();
		var order_id = $('#order_id').val().toString();
	        var order_amount = $('#order_amount').val().toString();
		$('#options_icon').show();
	        $('#options_title2').text("Paiement by Whatsapp [ (+237)671406993 ] ...");
	        $('#options_title2').show();	
	            
	        window.open(
		  "https://wa.me/237671406993?text=I'm%20interested%20in%20the%20inscriptions%20of%20this%20Order_" +  order_id,
		  '_blank' // <- This is what makes it open in a new window.
		);  
	               
	                
	                
	}
	
	


}
 
 
 
 
 
 function slideTo( choice, reverse) {
  prevDiv    = currentDiv;
  currentDiv = (currentDiv + 1) % 2;

  /* show loader */
  $('#loader').fadeIn('fast');

  /* decide which direction to move */
  d1 = 'left'; d2 = 'right';
  if( reverse == true ) {
    d1 = 'right'; d2 = 'left';
  }

  /* clear containers */
 // $('#container' + currentDiv).empty();
  
 
  /* update content */

  	getContent( choice, !reverse);
  

  /* slide-move */
  $('#container' + prevDiv).hide('drop', {direction: d1}, 200, function() {
    $('#container' + currentDiv).show('drop', {direction: d2}, 200);
    //$('#container' + prevDiv).empty();
  });
}
 
   
	function show_paiement()
	{
	    var montant = $('#totalPrice').text();
	    $('#totalPrice2').text(montant);
	    $('#totalPrice2').show();
	    currentDiv = 0;
	    getContent(1, true);
	}
	
	  
  </script>    
   <link href="{% static 'css/cart.css' %}" rel="stylesheet" type="text/css"> 
{% endblock %}




{% block content %}
<div class="container-fluid">
	<div class="row" style="height:auto;  margin-bottom:0px;">
		        <div class="col-12">
		            <div class="intro">
		                <h3 style="color:var(--brand);"><i class='bx bxs-cart'></i></h3>
		                <h2 style="color:var(--brand);"> Total: <span id="totalPrice" style="display:none;"> </span>FCFA</h2>
		                 {% if order != 0 %}  
		                <button id="buyBucket" style="width:80px; float:right; margin:10px;" data-bs-toggle="modal" data-bs-target="#modal-paiement" class="btn btn-brand" onclick="show_paiement()">Buy</button>
		                 {% endif %}
		                <h1>My Cart</h1>
		                <p class="mx-auto"> Here you can buy your Publications</p>
		            </div>
		        </div>
	 </div>
	 <div id="contentsOfBucket"  class="text-center" style=" margin-top:0px; ">
	 	
	       
	       
	       
	 
	 
	 </div>

</div>

 



<!-- Content to link Modal -->
   <div class="modal fade" id="modal-paiement" tabindex="-1" aria-labelledby="modalPubToLinkLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-body p-0">
                    <div class="container-fluid">
                        <div class="row gy-4">
                          
                            <div class="col-lg-20 text-center">
                               
                                    <div>
                                        <h1>Paiement</h1>
                                    <p>Here you can pay your Order</p>
                                        <h2 style="color:var(--brand);"> Total: <span id="totalPrice2" style="display:none;"> </span></h2>
                                    </div>
                                    <hr/>
                                    
                                     <div id=""   class="container" style="width:80%; padding:10px; margin-bottom:30px; background-color:#ef;" >
 	   
       					<div style=" padding-bottom:10px; background-color:#fff;" class="row g-1 text-center"> 
                                  
				                 	<div class="row text-center">
			 	                          	<b>  
				 	                               <a href="#" id="options_title" class="title"> Options </a>  
				 	                                 <i id="options_icon" style="display:none;" class='bx bxs-right-arrow'></i> 
				 	                             
				 	                               <span id="options_title2" style="display:none;" class="title"> 
				 	                                </span>
				 	                           
				 	                           	
				 	                        </b> 
				 	            {% if order != 0 %}            
			 	   <input type="hidden" id="order_id" name="order_id" value="{{order.id}}" />
			 	             
			         <input type="hidden" id="order_amount" name="order_amount" value="{{order.total_amount}}" />                                     	    {% endif %}
			 	                                    
		 	                         	 </div> 
		 	                         	 
		 	                         	 <div id="container0" style="" class="">
                                       	
                                       
	  						 </div>
	  						 
	  						 <div id="container1" style="" class="">
	  						 
		  						
	  						           
                                       	
                                       
	   						  </div>

  	
				                    
				                    
				                    
				                    
				                 </div>
                                     </div>
                               
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    
    
    
    

   

{% endblock %}



