{% extends "base.html" %}

{% load socialaccount %}

{% block content %}
<div class="container-fluid">
	<div class="row" style="height:auto;  margin-bottom:0px;">
		        <div class="col-12">
		            <div class="intro">	
                        <br/>	           
		                <h6>ALGOMAAT - [ learning for kids ]</h6>       
		            
		                <h1> Login </h1>
		            
		            </div>
		        </div>
	 </div>
	 <section  class="text-center" style=" margin-top:-30px;">
	 	
        <div class="container" style="background-color:#efefef;  margin-bottom:50px;" >
            <div  style=" padding-bottom:20px;" class="row g-4 ">
				<div  class="col-lg-4 col-md-6 container">

                    <form method="post" action="/registration/login/" enctype="multipart/form-data" class="p-lg-5 col-12 row g-3">
                        {% csrf_token %}
                        <div style="margin-top:-50px;">
                            <!-- <h4>Login</h4>  -->
                        <p>Please, full all fields and log in </p>
                        </div> 
                            <input type="hidden" name="page_id" value="{{ page_id }}">
                            <input type="hidden" name="page_type" value="{{ page_type }}">
                        {% for field in form %}
                            {% if field.errors %}
                        <div class="col-lg-6">
                            <label for="" class="form-label">{{ field.label_tag }}</label>
                            <div class="form-control">
                                {{ field }}
                                <span class="help-inline">{{ field.errors|join:", " }}</span>
                            </div>
                            
                        </div>
                            {% else %}
                                                                
                            <div class="container">
                                <label for="" class="form-label">{{ field.label_tag }}</label>
                                <div class="form-control">
                                    {{ field }}
                                </div>
                            </div>
                            <br/>
                             {% endif %}
                            
                        {% endfor %}
                            
                        <div class="col-12">
                            <button type="submit" class="btn btn-brand">Login</button>
                        </div>
                        
                    </form>
                      
            <div style=" width:100%; height:10%; margin-top:1%; margin-bottom:10%;" class="row text-center">          
                <a href="{% provider_login_url 'google' %}" style="text-decoration:none;" ><b style="color:var(--brand);"> <i class='bx bxl-gmail'></i> Login with Gmail?</b> </a>
            </div>




                </div>	         
	       
            </div>
        </div>        
	 </section>

</div>
{% endblock %}
