
{% load static %}
{% block scripts %}
  <!--  <script>
        const pwd = document.getElementById('id_password');
        const btn = document.getElementById('togglePassword');
    
        btn.addEventListener('click', () => {
        const isHidden = pwd.type === 'password';
        pwd.type = isHidden ? 'text' : 'password';
        btn.textContent = isHidden ? '🙈' : '👁️'; // toggle icon
        });
    </script> -->
    
    <link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css">

{% endblock %}

{% load socialaccount %}

{% block content %}
<div class="container-fluid">
	
	 <section  class="text-center" style=" margin-top:0px;">


        <div class="login-card">
            
            <h4>  
                <a href="/"><img width="200" height="60" src="{% static 'img/LOGO.png' %}" alt=""></a>

            </h4>       
		            
            
            <h1>Connexion</h1>
        
            {% if form.non_field_errors %}
              <div class="error-box">{{ form.non_field_errors }}</div>
            {% endif %}
        
            <form method="post" action="/registration/login/" enctype="multipart/form-data" novalidate>
              {% csrf_token %}
                
              <input type="hidden" name="page_id" value="{{ page_id }}">
              <input type="hidden" name="page_type" value="{{ page_type }}">

              <div>
                <label for="{{ form.username.id_for_label }}">Nom d'utilisateur</label>
                {{ form.username }}
              </div>
        
              <div>
                <label for="{{ form.password.id_for_label }}">Mot de passe</label>
                {{ form.password }}
              </div>
        
              <div class="form-row">
                <label>
                  {{ form.remember_me }} Se souvenir de moi
                </label>
                <a href="">Mot de passe oublié ?</a>
              </div>
        
              <button type="submit">Se connecter</button>
            </form>
        
            <p class="footer-text">
              Pas encore de compte ?
              <a href="{% url 'registration:new_user' %}">Inscription</a>
            </p>
        </div>



	 	
        <div class="container" style="background-color:#efefef;  margin-bottom:50px;" >
            <div  style=" padding-bottom:20px;" class="row g-4 ">
				<div  class="col-lg-4 col-md-6 container">

                    
                   



                </div>	         
	       
            </div>
        </div>        
	 </section>

</div>
{% endblock %}
