{% extends "base.html" %}

{% load socialaccount %}


{% block scripts %}

{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="row" style="height:auto;  margin-bottom:0px;">
		        <div class="col-12">
		            <div class="intro">	
                        <br/>	           
		                <h6>ALGOMAAT - [ learning for kids ]</h6>       
		            
		                <h1> New User -test </h1>
		            
		            </div>
		        </div>
	 </div>
	 <section  class="text-center" style=" margin-top:-30px;">
	 	
        <div class="container" style="background-color:#efefef;  margin-bottom:50px;" >
            <div  style=" padding-bottom:20px;" class="row g-4 ">
				<div  class="col-lg-4 col-md-6 container">

                    <div style=" width:100%; height:10%; margin-top:1%; " class="row text-center">          
                        <a href="{% provider_login_url 'google' %}" style="text-decoration:none;"> <b style="color:var(--brand);"> <i class='bx bxl-gmail'></i> Sign with Google?</b></a>
                    </div>
                   <br/>
                      <div class="container" style="margin-top:0px;">
                           <h4><i class="bx bxs-user"></i>Registration</h4>
                             <p style="font-size: 14.5px;">Please, full all fields to create your new account </p>
                       </div> 
                    <form method="post" action="." enctype="multipart/form-data" class="">
                        {% csrf_token %}
                       {% for field in form %}
                         {% if field.errors %}
                       <div class="col-lg-6">
                           <label for="" class="form-label">{{ field.label_tag }}</label>
                           <div class="form-control">
                               {{ field }}
                               <span class="help-inline">{{ field.errors|join:", " }}</span>
                           </div>
                           
                       </div>
                           {% else %}
                                                            
                         <div class="container">
                           <label for="" class="form-label">{{ field.label_tag }}</label>
                           <div class="form-control">
                               {{ field }}
                           </div>
                        </div>
                        
                        {% endif %}
                       {% endfor %}
                        
                       <div style="height:40px; width:100%; margin-bottom:20px; margin-top:20px;" class="container">
                           <button type="submit" style="height:40px; width:100px;" class="btn btn-brand">Create</button>
                       </div>
                       
                    </form>
       
                </div>	         
	       
            </div>
        </div>        
	 </section>

</div>
{% endblock %}


