{% extends 'base.html' %}
{% load static %}
{% block scripts %}
<script src="{% static 'js/jit.js' %}" type="text/javascript"></script>
<script src="{% static 'js/SPacetree.js' %}" type="text/javascript"></script>

<link href="{% static 'css/spaceTree.css' %}" rel="stylesheet" type="text/css">



    <script>
    
             
    			var panier_show_spaces= {};
      			if( localStorage.getItem('panier') == null )
    		        {
    		        	 panier_show_spaces= {};
    		        
    		        }
    		        else
    		        {
    		        	 panier_show_spaces = JSON.parse(localStorage.getItem('panier'));
    		           		        
    		        }
                    
      
               
               
               var index = 0;
		participant_ids=[];
		$('#search_participants').empty();
               
               
    		const form = document.getElementById("register_participant_form");
    		form.addEventListener("submit", submitHandler);
    		
    		function submitHandler(e)
    		{
    		  
    		    e.preventDefault();			
    		    post_ajax_form('#register_participant_form', '/registration/new_participant/', $(this).serialize() , 0);
    		   
    		        
    		}
    		
    	     
    		const form2 = document.getElementById("add_participant_form");
    		form2.addEventListener("submit", submitBucketHandler);
    		
    		function submitBucketHandler(e)
    		{
    		        addNumberOfParticipants( index, '#participants')
    			e.preventDefault();
    			
    		post_ajax_form('#add_participant_form', '/bucket/add_publications_to_bucket_of_inscriptions/', $(this).serialize() , 1);
    		          
    		          
	    		   for( p=1; p<=index; p++ )
	    		   {
	    		      
	    		   	participe_id = $('#participantId_'+p).val().toString();
	    		   	pub_id = $('#publication_id').val().toString();
	    		   	
	    		   	if( Array.isArray(panier_show_spaces[pub_id]) )
		                {
		               	if( panier_show_spaces[pub_id].includes(participe_id) == false )
		               	{
		               		panier_show_spaces[pub_id].push(participe_id); 
		               	}
		                }
		                else
		                {
		               				
		               	panier_show_spaces[pub_id] = [participe_id];		
		                }
		               			
	    		   	
	    		   	
	    		   	//panier[pub_id] = participant_ids;
	    		   	
	    		   	
	    		   	
	    		   	console.log("ajouter");
	    		   
	    		   }
	    		   console.log(panier_show_spaces);
	    		    
	    		   localStorage.setItem('panier', JSON.stringify(panier_show_spaces));
	    		   document.getElementById("panier").innerHTML ="Cart("+ Object.keys(panier_show_spaces).length+")";
	    		   AfficherList();
    		        
    		   
    		}
    		
    		 //panier_show_spaces = {};
    		 //localStorage.setItem('panier', JSON.stringify(panier_show_spaces));
                 //document.getElementById("panier").innerHTML ="Cart("+ Object.keys(panier_show_spaces).length+")";
                 
                 
        
        

                 
	function show_add_user_form()
	{

		
		$('#selectParticipants').hide();
		 
		$('#add_new_participant_div').slideDown();

	}
	
	
	
	function addParticipantToSelect( id, name , selector )
	{
   
        	
			 userLine  = '<div id="select_participant_' + id + '" style="margin:15px; width:90%; height:30px;" >'; 
			 userLine += '<input type="hidden" id="select_participant_name_' + id + '" value="' + name + '" />';
			 userLine += '<input type="hidden" id="select_participantId_' + id + '" name="select_participantId_' + id + '" value="' + id + '" />';
			 //userLine += '<span class="" style="float:left; padding:5px; font-size:20px; color:black;" id="select_text_' + id + '">' + name + '</span>';
			// userLine += '<button type="button" style="float:right; margin-left:5px;" id="select_deleteParticipant_'+ name  +'" class="btn btn-brand bx bxs-trash" style="">  </button>';
			  userLine += '<button type="button" style="" id="select_addParticipant_'+ id  +'" class="btn btn-brand bx bx-plus-circle" style=""> ' + name + ' </button>';
			 
			 userLine  += '</div>'; 
			$(selector).append(userLine);
		    	
		    	//participant_ids.push(id.toString());
		       $('#select_addParticipant_' + id).click(addParticipantClick);
				 	     						
       
         
	}

	
	
	function show_selected_users()
	{
		$.ajax({
		    url:'/registration/ajax_get_users',
		    data: {
		      'username_query':  $('#search_participants').val()
		    },
		    dataType: 'json',
		    success: function (data) 
		    {
		          $('#selectParticipants').empty();
		          $('#selectParticipants').append('<h6>  Select the participant(s) </h6>');
		          $.each(data, function(key, value) {
		          
		   addParticipantToSelect( data[key]["id"],data[key]["username"],'#selectParticipants' )
		          	
		          
		          });
				
		          $('#add_new_participant_div').hide();
		          $('#selectParticipants').slideDown();
		       
		       
		    }
		});   
	 
	 
	 
	}
	
	
	
	
	function inscription(pub_id, pub_title)
	{
	  
	    $('#publication_id').val(pub_id);
	    $('#search_participants').val('');
	    $('#inscription_title').text(pub_title);
	    $('#participants').empty();
				 	     		          
	    $('#selectParticipants').empty();
	    $('#selectParticipants').hide();
	    // reset array of participants declared in common.js
				 	 
	    participants = [];
	    participant_ids=[];
	    index = 0;
	
	
	
	}
	
	
	
	
	// remove item from array
function remove(array, item)
{
    let ind = array.indexOf(item);
    if(ind !== -1)
        array.splice(ind, 1);
}




function addParticipantClick(eventObject) 
{
   id = eventObject.currentTarget.id.substr(22);
   
        var username = $('#select_participant_name_' + id).val();
 	if ( $.inArray(id.toString(), participant_ids) == -1 )
		      {
   			  addParticipantLine( id, username, '#participants' );
		      	  //participants.push(username);

		      	 
		      }
		     
  return false;
}


function addParticipantLine( id, name , selector )
{
   
     url= "/bucket/check_inscription_exist/"+ id +"/"+ $('#publication_id').val();
	$.getJSON(url, function(json) {
				     					
		if(json.success == false)
		{
			
						 
		         index = index + 1;   
			 userLine  = '<div id="participant_line_' + id + '" class="col-lg-10" >'; 
			 userLine += '<input type="hidden" name="participant_name_' + index + '" value="' + name + '" />';
			 userLine += '<input type="hidden" id="participantId_' + index + '" name="participantId_' + index + '" value="' + id + '" />';
			// userLine += '<span class="" style="padding:5px; font-size:20px; color:black;" id="text_' + name + '">' + name + '</span>';
			 userLine += '<button type="button" id="deleteParticipant_'+ id +'_'+ name +'" class="btn btn-brand bx bxs-trash" style=""> ' + name + ' </button>';
			 userLine  += '</div>'; 
			$(selector).prepend(userLine);
		    	
		    	participant_ids.push(id.toString());
		       $('#deleteParticipant_' + id +'_'+ name).click(deleteParticipantClick);
				 	     						
		}
		else
	        {
								  
		} 
				 	     				
				 	     				
	});				 	  
      
        
         
}


function deleteParticipantClick(eventObject) 
{
  
  divObj = $('#' + eventObject.currentTarget.id).parent();
  parentId = divObj.attr('id');
  //id =  $('#participantId_' + parentId).val()
  id = parentId.substr(17);

  divObj.hide('fast', function(){ $(this).remove();  remove(participant_ids, id.toString()); });
  
  return false;
}



function addNumberOfParticipants( index, selector )
{
   userLine = '<input type="hidden" name="index" value="' + index + '" />';
   $(selector).prepend(userLine);
   index = 0;
}

	
	       
                
    </script>
      
         



{% endblock %}

{% block content %}
<div class="container-fluid" style=" margin-bottom:0px;">
 		     
        <div class="row" style="height:auto;   margin-bottom:0px;">  
        
        	<div class="col-12">
		            <div class="intro">
		           	 	
                        		<br/>
                        		<h2> {{publication.title}} </h2>
                       	        <p class="mx-auto"> {{publication.description}} </p>
                       	        <div onclick="inscription('{{ publication.id }}', '{{ publication.title }}');" data-bs-toggle="modal" data-bs-target="#modal-participant-to-add" class="mx-auto" style="background-color:var(--brand); border-radius:30px; width:220px; margin:10px; padding:10px; font-size:20px; font-weight:normal; color:#fff; font-family:Helvetica; cursor:pointer;">
                        
			      			 <span  id="" class="" style=" " >{{publication.price}} EUR </span>
			      		        <i  class="bx bxs-cart" style="float:right; font-size:20px; font-weight:normal; margin-top:5px;"  >  </i>				 </div>
                        
		            </div>
		</div>
       
                  
	</div>
 
 
 

    <section id="about">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5 py-5">
                    <div class="row">

                        <div class="col-12">
                            <div class="info-box">
                                <img style="width:50px; height:50px;" src="{% static 'img/iconeOb.png' %}" alt="">
                                <div class="ms-4">
                                    <h5>Objectifs</h5>
                                     <ul id="" style="" >
					      
						<li> Apprendre à coder des jeux 2D sur Scratch. </li>
						<li> Apprendre à coder des jeux 3D sur Roblox. </li>
						
					</ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mt-4">
                            <div class="info-box">
                                <img style="width:50px; height:50px;" src="{% static 'img/iconeE.png' %}" alt="">
                                <div class="ms-4">
                                    <h5>Concernés</h5>
                                    <p>Enfants à partir de 8 ans</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mt-4">
                            <div class="info-box">
                                <img style="width:50px; height:50px;" src="{% static 'img/iconeC.png' %}" alt="">
                                <div class="ms-4">
                                    <h5>Calendrier</h5>
                                    <p>1 Seance de 1h par semaine <br/>[ à choisir pendant la procédure d'inscription ]</p>
                                </div>
                            </div>
                        </div>
                         <div class="col-12 mt-4">
                            <div class="info-box">
                                <img style="width:50px; height:50px;" src="{% static 'img/iconeCh.png' %}" alt="">
                                <div class="ms-4">
                                    <h5>Durée cette formation</h5>
                                    <p> En tout, 15h de formation. <br/> [ environ 3 mois] </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mt-4">
                            <div class="info-box">
                                <img style="width:50px; height:50px;" src="{% static 'img/iconeO.png' %}" alt="">
                                <div class="ms-4">
                                    <h5>Lieu</h5>
                                    <p>Les seances se font en ligne.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
              {% if publication.categorie.id == 1 %}
               	<img src="{% static 'img/CATB4-GAM-PRO.png' %}" alt="">
              {% elif publication.categorie.id == 2 %}
              		<img src="{% static 'img/CATB5-INTEL-ARTI.png' %}" alt=""> 
              {% elif publication.categorie.id == 3 %}
              		<img src="{% static 'img/CATB2-REPE.png' %}" alt=""> 
              {% elif publication.categorie.id == 4 %}
              		<img src="{% static 'img/CATB3-DEV-APPLI.png' %}" alt=""> 
              {% elif publication.categorie.id == 5 %}
              		<img src="{% static 'img/CATB4-GAM-PRO.png' %}" alt=""> 
              {% else %}
              		<img src="{% static 'img/CATB4-GAM-PRO.png' %}" alt="">
              {% endif %}
             
                </div>
            </div>
        </div>
    </section>

   	<div class="row">
	  <input type="hidden" id="treeType" name="treeType" value="1">
	  <input type="hidden" id="pubId" name="pubId" value="{{publication.id}}">
	<div/>
	 <section id=""  class="text-center" style=" ">
	 	<div  class="container" style="background-color: #DAD7CD; " >
	       		
	       	<h4>Related Publications:</h4>
	       	<h4 style="color:var(--brand);" > <i class='bx bxs-hand-down'></i></h4>	
	       	<div id="infovis" style=" padding-bottom:20px;  height:600px;" class="row g-4">
	       		
	       		
				
	       	
	       	
	       	</div>
		       <div id="log" style="visibility:hidden"></div>
	 	</div>
	 
	 </section>


</div>


<!-- Register participant  Modal -->
   <div class="modal fade" id="modal-participant-to-add" tabindex="-1" aria-labelledby="modalPubToLinkLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-body p-0">
                    <div class="container-fluid">
                        <div class="row gy-4">
                          
                            <div class="col-lg-12 text-center" style="width:100%;" >
                               
                                    <div>
                                        <h3><span>Add Participants to </span> <span style="color:var(--brand);" id="inscription_title" > Cours Niveau 1 </span></h3>
                                    <p> here you can register a participant to an publication</p>
                                    </div>
                                    <div class="col-lg-10">
                                        <!--<label for="searchUser" class="form-label">Search by Name:</label>-->
     <input type="text" class="form-control" placeholder="Search by User names ..." id="search_participants" name="search_participant_name" aria-describedby="searchUser">
         <button type="submit" onclick="show_selected_users()" style=" margin-top:10px; " class="btn btn-brand">Search</button>
   <button  onclick="show_add_user_form()" style="margin-left:10px; margin-top:10px;" class="btn btn-brand">Add new participant?</button>
                                         
                                         
                                            <div id="selectParticipants" class="row" style="display:none; overflow-y:scroll; margin-top:10px; padding:5px; background-color:#EDF2F4;  width:60%; margin-left:18%;  height:200px;"> 
                                            
                                            
                                             </div>
                                             
                                             
                              <div id="add_new_participant_div" class="row" style="width:60%; margin-left:18%; margin-top:10px; padding:5px; height:auto;  display:none;">
                                	 <form method="post"  id="register_participant_form" class="">
                                    {% csrf_token %}
                                    <div>
                                        <h6>Add new Participant</h6>
                                    	 <hr/>
                                    </div>
                                    <div class="row">
                                        <label for="username" class="form-label">User:</label>
                                        <input type="text" class="form-control" placeholder="Username..." name="username" id="p_username"
                                            aria-describedby="username">
                                    </div>
                                    <div class="row">
                                       <label for="email" class="form-label">Email:</label>
                                        <input type="text"  class="form-control" placeholder="Email..." name="email" id="p_email"
                                            aria-describedby="email">
                                    </div>
                                    
                                    <div class="row">
                                       <label for="password" class="form-label">Password:</label>
                                        <input type="text"  class="form-control" placeholder="Password..." name="password" id="p_password"
                                            aria-describedby="password">
                                    </div>
                                    
                                    <div class="row">
                                        <button type="submit" style="margin-top:10px;" class="btn btn-brand">Add new participant</button>
                                    </div>
                                </form>
                                
                                
                            </div>  
                            
                                             
                                             
                                    </div>
                                    
                                    
                                    
                                    <form method="post"  id="add_participant_form">
			    		 {% csrf_token %}
			    		 <input type="hidden" id="publication_id" name="publication_id" value="" />
		       		 <input type="hidden" id="space_to_buy_id" name="space_to_buy_id" value="" />
		       		     
		                            <div  id="participants" style="overflow-y:scroll; height:200px; margin-top:50px;" class="p-lg-5 col-12 row g-3 text-center">

		                               
		                               	
		                               
		                            </div>
		                            <div style="margin-bottom:30px;" class="col-lg-10 text-center">
				                         <button type="submit" id="btn_add_participants_to_bucket" style=" margin-top:10px; " class="btn btn-brand">Add to bucket
				                         </button>
		                            	</div> 
		                            
                                    </form>
                               
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>





{% endblock %}
